.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 64px;
  background: #ba8963;
  // background: #5f3215;

  &-item {
    padding: 0 20px;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      color: #89594d;
      background: #644034;
    }
  }
}

.active {
  color: #cad0cc;
}